.header-container {
    clear: both;
}

.header-text {
    white-space: nowrap;
    padding: 2rem;
    text-align: center;
    font-size: 32px;
    max-width: 100%;
}

.header-line {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 100px;
    margin-right: 100px;
    height: 2px;
    color: black;
    background-color: black;
    border-width: 0;
}

.header-skyline {
    color: #5e6493ff;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    object-fit: cover;
    height: 30rem;
    object-position: 100% 0%;
}

@media screen and (max-width: 1200px) {
    .header-text {
        white-space: normal;
        padding: 2rem;
        text-align: center;
        font-size: 26px;
        max-width: 100%;
    }

    .header-skyline {
        margin-bottom: -5rem;
    }
}

@media screen and (max-width: 700px) {
    .header-text {
        white-space: normal;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-size: 20px;
        max-width: 100%;
    }

    .header-skyline {
        margin-bottom: -10rem;
    }
}