.homeinfo-container {
    background-color: #5e6493;
    padding: 10rem;
}

.homeinfo-row {
    padding-bottom: 15rem;
    display: flex;
}

.homeinfo-container h1 {
    color: white;
}

.homeinfo-container p {
    color: white;
}

.homeinfo-img {
    max-width: 35%;
    margin: 0 auto;
    color: #848ab5;
}

.homeinfo-discord {
    font-size: 25rem;
    margin: 0 auto;
    color: #848ab5;
}

@media screen and (max-width: 1200px) {
    
    .homeinfo-container {
        padding: 5rem;
    }

    .homeinfo-row {
        display: block;
        text-align: center;
    }

    .homeinfo-img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .homeinfo-discord {
        font-size: 17rem;
        margin: 0 auto;
        color: #848ab5;
    }
}

@media screen and (max-width: 700px) {
    .homeinfo-container {
        padding: 2rem;
    }

    .homeinfo-row {
        display: block;
        text-align: center;
    }

    .homeinfo-img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .homeinfo-discord {
        font-size: 10rem;
        margin: 0 auto;
        color: #848ab5;
    }
}